@charset "UTF-8";


/* top -----------------------------------------*/

/* construction --------------------------------*/
.construction-wrapper__txt {
  margin-top: 6rem;
  width: 52%;
  background-color: rgba(255, 255, 255, 80%);
  padding: 4rem;
}
.construction-wrapper__txt p {
  font-size: 1.8rem;
}
.construction {
  position: relative;
}
.construction-wrapper__img {
  width: 55%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.construction-wrapper__img img {
  width: 100%;
}

/* housing --------------------------------*/
.housing-wrapper {
  margin-top: 18rem;
}
.housing-wrapper__txt {
  margin-top: 6rem;
  margin-left: 50%;
  width: 52%;
  background-color: rgba(255, 255, 255, 80%);
  padding: 4rem;
}
.housing-wrapper__txt p {
  font-size: 1.8rem;
}
.housing {
  position: relative;
}
.housing-wrapper__img {
  width: 55%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.housing-wrapper__img img {
  width: 100%;
}
.housing-wrapper__ttl {
  margin-left: 50%;
}

/* service --------------------------------*/
.service-wrapper {
  margin-top: 20rem;
  text-align: center;
  padding-bottom: 6rem;
}
.service-wrapper__con {
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  border: 1px solid #555;
  position: relative;
}
.service-wrapper__con__inner {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 8rem;
}
.service-wrapper__con__inner h3 {
  font-size: 4rem;
  font-weight: 900;
  width: 70%;
  position: absolute;
  top: -4rem;
  left: calc(50% - 35%);
  background-color: #fff;
}
.service-wrapper__con__inner p {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 12%;
}
.service-wrapper__con__inner img {
  width: 100%;
  margin-top: 6rem;
}