@charset "UTF-8";

/* top -----------------------------------*/
.top-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.top-wrapper__img {
    width: 80%;
    height: 85vh;
}
.top-wrapper__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-wrapper__con {
    position: absolute;
    top: 30%;
    right: 5%;
    background-color: rgba(255, 255, 255, 70%);
    padding: 5.5rem 6.5rem;
}
.top-wrapper__con__ttl {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}
.top-wrapper__con__ttl .s-ttl__square {
    position: absolute;
    right: 3rem;
}
.top-wrapper__con h2 {
    font-size: 4rem;
    font-weight: 900;
    z-index: 2;
}
.top-wrapper__con p {
    font-size: 1.8rem;
}

/* company -------------------------------------*/
.company-wrapper {
    padding-bottom: 6rem;
}
.company-wrapper__img {
    display: flex;
    justify-content: space-around;
    margin-top: 7.6rem;
}
.company-wrapper__con {
    text-align: center;
    margin-top: 7.4rem;
}
.company-wrapper__con h3 {
    font-size: 3.2rem;
    font-weight: bold;
}
.company-wrapper__con p {
    font-size: 1.8rem;
    margin-top: 1.6rem;
}

/* business -------------------------------------*/
.business-wrapper {
    padding-bottom: 6rem;
}
.business-wrapper__block {
    margin-top: 7.6rem;
    display: flex;
    justify-content: space-between;
}
.business-wrapper__block__con {
    width: 44%;
}
.__business-2 {
    margin-top: 4rem;
    flex-direction: row-reverse;
    align-items: end;
}
.business-wrapper__block__con h3 {
    font-size: 3.6rem;
    font-weight: bold;
    position: relative;
}
.business-wrapper__block__con h3::after {
    content: "";
    display: inline-block;
    width: 24rem;
    height: 0.3rem;
    background-color: #4FA6A3;
    position: absolute;
    bottom: -.5rem;
    right: calc(51%);
}
.business-wrapper__block__con p {
    font-size: 2rem;
    margin-top: 3.6rem;
}
.business-wrapper__btn {
    margin-top: 9.2rem;
}
.__business-1 {
    text-align: end;
}
.__business-1 h3::after {
    right: 0;
}
.__business-1 p {
    text-align: left;
}

/* works -------------------------------------*/
.works-wrapper {
    padding-bottom: 6rem;
    background-color: #fafafa;
}
.works-wrapper__outer {
    margin-top: 7.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works-wrapper__outer__block__img {
    position: relative;
    width: 352px;
}
.works-wrapper__outer__block__img img {
    width: 100%;
}
.works-wrapper__outer__block__category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4FA6A3;
    align-items: center;
    text-align: center;
}
.works-wrapper__outer__block__category p {
    padding: .8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}
.works-wrapper__outer__block__con {
    background-color: #fff;
    position: absolute;
    bottom: -10%;
}
.works-wrapper__outer__block__con p {
    padding: 2rem;
}
.works-wrapper__outer__block__con p:first-child {
    padding-bottom: 1.2rem;
    font-size: 1.8rem;
}
.works-wrapper__outer__block__con p:last-child {
    padding-top: 0;
    font-size: 1.8rem;
}
.works-wrapper__btn {
    margin-top: 12.8rem;
}

/* recruit -------------------------------------*/
.recruit-wrapper {
    background-image: url(../img/recruit_wrapper.png);
    background-size: cover;
    padding-bottom: 8rem;
}
.recruit-wrapper__con {
    width: 100%;
    background-color: rgba(255, 255, 255, 80%);
    text-align: center;
    padding: 8rem 0;
    margin-top: 12rem;
}
.recruit-wrapper__con h3 {
    font-size: 3.2rem;
    font-weight: bold;
}
.recruit-wrapper__con p {
    font-size: 1.8rem;
    margin-top: 2.4rem;
}
.recruit-wrapper__btn {
    margin: 6rem auto 0;
}
.recruit-wrapper__btn .btn-txt {
    color: #fff;
    font-weight: bold;
}
.recruit-wrapper__btn .btn-txt:hover {
    color: #555;
}

/* news -------------------------------------*/
.news-wrapper {
    padding-bottom: 6rem;
}
.news-wrapper__con {
    display: block;
    width: 100%;
    margin-top: 6rem;
}
.news-wrapper__con__list__item {
    width: 800px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 2.4rem;
    background-color: #fafafa;
    padding: 2.4rem;
}
.news-wrapper__con__list__item p {
    font-size: 1.8rem;
}
.news-wrapper__con__list__item__date {
    border-right: 1px solid #555;
    padding-right: 3.6rem;
}
.news-wrapper__con__list__item__txt {
    padding-left: 3.6rem;
}
